body {
  margin: 0;
}

body, .app, .editor, .sidebar {
  height: 100%;
}

.solarized-pallette;
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: @base3;
}

::-webkit-scrollbar-thumb {
  background: @base2;
}

.app {
  @sidebar-width: 400px;
  @dt: 0.3s;
  .editor {
    transition: "margin-right @dt";
    &.sidebar-open {
      margin-right: @sidebar-width;
    }
    &.sidebar-closed {
      margin-right: 0;
    }
    .output {
      bottom: 0;
      left: 0;
      position: absolute;
      height: 650px;
      width: calc(~"100% - "@sidebar-width);

      overflow-y: scroll;
      z-index: 1000;

      margin: 0;
      padding: 0;

      li {
        display: block;
      }
    }
  }
  .sidebar {
    position: absolute;
    top: 0;
    right: 0;
    transition: "width @dt";
    &.sidebar-open {
      width: @sidebar-width;
      display: block;
    }
    &.sidebar-closed {
      width: 0;
      display: none;
    }
  }
}
