target
logs
target
tmp
.history
hs_err_pid*
RUNNING_PID
sbt-api-*
TODO
*.log
.idea/
deployment/beta
deployment/users.txt
node_modules
bin/.scalafmt
bin/scalafmt_ng
bin/.coursier
bin/drone
local/
metals.sbt
.bsp/
.bloop
.metals
.vscode
client/dist
vite.config.js.*
generated-scripts*
dump*
