/.idea/*
!/.idea/codeStyleSettings.xml
!/.idea/projectCodeStyle.xml
!/.idea/runConfigurations
/.idea_modules/*
target
project/project
logs
target
tmp
.history
hs_err_pid*
java.exe.stackdump
RUNNING_PID
sbt-api-*
