@mixin embeddedMenuStyle($class) {
  .app.#{$class} {
    .embedded-menu {
      & > * {
        background-color: $sidebar-background;
        color: $editor-button-color;

        &.disabled {
          color: grey;
        }
      }
    }
  }
}
