@import "commonvars";

@mixin status() {
  .status-container {
    overflow-y: auto;
    height: calc(100% - #{$header-height});

    padding: 45px 45px;

    .runner-state,
    .runner {
      padding: 10px;
    }

    .ready {
      background-color: green;
    }

    .different-target {
      background-color: #7c7c7c; 
    }

    .unknown,
    .initializing,
    .creating-config,
    .connecting,
    .indexing,
    .needs-reload {
      background-color: #dc9f12; 
    }


    * {
      margin: 20px;
    }
  }
}