@import "commonvars";

@mixin status() {
  .status-container {
    overflow-y: auto;
    height: calc(100% - #{$header-height});

    padding: 45px 45px;

    .runner-state,
    .runner {
      padding: 10px;
    }

    .ready {
      background-color: green;
    }

    .running {
      background-color: #28a745;
    }

    .idle {
      background-color: #6c757d;
    }

    .different-target {
      background-color: #7c7c7c; 
    }

    .unknown,
    .initializing,
    .creating-config,
    .connecting,
    .indexing,
    .needs-reload {
      background-color: #dc9f12; 
    }

    ul.task-list {
      list-style-type: disc !important;
      list-style-position: outside !important;
      padding-left: 40px !important;
      margin-top: 20px !important;
      margin-bottom: 10px !important;
      margin-left: 0 !important;
      margin-right: 20px !important;
    }

    * {
      margin: 20px;
    }

    ul.task-list li {
      margin: 5px 0 !important;
      display: list-item !important;
    }
  }
}