@import "commonvars";

@mixin tabstrip() {
  .tab-strip {
    display: flex;
    flex-direction: row;
    gap: 1px;

    position: relative;
    width: 100%;
    height: $tabstrip-height;

    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .tab-strip-item {
      padding-left: 5px;
      padding-right: 5px;

      display: flex;
      flex-direction: row;
      align-items: center;

      cursor: pointer;
      user-select: none;

      .close-btn {
        border: solid 1px;
        border-radius: 5px;

        margin-left: 5px;

        width: 15px;
        height: 15px;
        line-height: 15px;
        text-align: center;
      }
    }
  }
}
