html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

#content {
  padding: 0;
}

dd.info {
  color: #888;
  font-size: 12px;
  display: none;
}

.paste {
  padding: 0;
  font-family: monospace;
  position: absolute;
  width: 650px;
  height: 700px;
  top: 0;
  left: 0;
}

.submit-paste {
  position: absolute;
  top: 700px;
  left: 0;  
}

.templates-form {
  position: absolute;
  top: 750px;
  left: 0;  
}