<configuration scan="true" scanPeriod="10 seconds">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%level] %logger{15} - %message%n%xException</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </root>
  <logger name="sun.rmi" level="INFO"/>
  <logger name="javax.management" level="INFO"/>
  <logger name="akka.remote.EndpointWriter" level="INFO"/>
  <logger name="akka.remote.RemoteWatcher" level="INFO"/>
  <logger name="akka.actor.LocalActorRefProvider$SystemGuardian" level="INFO"/>
  <logger name="akka.actor.LocalActorRefProvider$Guardian" level="INFO"/>
</configuration>