<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <target>System.out</target>
      <encoder>
        <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36}:%line | %msg%n</pattern>
      </encoder>
  </appender>

  <!-- <appender name="ENSIME-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/ensime.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>logs/ensime-%d{yyyy-MM-dd}.%i.log</fileNamePattern>

        each file should be at most 100MB, keep 30 days worth of history, but at most 5GB
        <maxFileSize>100MB</maxFileSize>
        <maxHistory>30</maxHistory>
        <totalSizeCap>5GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
        <!-- Ensime server already logs time -->
        <pattern>%msg%n</pattern>
    </encoder>
  </appender> -->

  <logger name="akka" level="INFO" />
  <root level="INFO">
      <appender-ref ref="CONSOLE"/>
  </root>

  <!-- <logger name="ensime" level="INFO" additivity="false">
    <appender-ref ref="ENSIME-FILE"/>
  </logger> -->
</configuration>
