/*
Solarized theme for code-mirror: http://ethanschoonover.com/solarized
Solarized color pallette: http://ethanschoonover.com/solarized/img/solarized-palette.png
*/
.cm-s-solarized {
  color-profile: sRGB;
  rendering-intent: auto; }
  .cm-s-solarized .cm-keyword, .cm-s-solarized .cm-atom {
    color: #b58900; }
  .cm-s-solarized .cm-number {
    color: #d33682; }
  .cm-s-solarized .cm-def {
    color: #268bd2; }
  .cm-s-solarized .cm-variable, .cm-s-solarized .cm-variable-2, .cm-s-solarized .cm-variable-3, .cm-s-solarized .cm-property {
    color: #2aa198; }
  .cm-s-solarized .cm-operator {
    color: #b58900; }
  .cm-s-solarized .cm-comment {
    color: #586e75; }
  .cm-s-solarized .cm-string {
    color: #859900; }
  .cm-s-solarized .cm-string-2 {
    color: #b58900; }
  .cm-s-solarized .cm-meta {
    color: #859900; }
  .cm-s-solarized .cm-error, .cm-s-solarized .cm-invalidchar {
    color: #586e75;
    border-bottom: 1px dotted #dc322f; }
  .cm-s-solarized .cm-qualifier {
    color: #b58900; }
  .cm-s-solarized .cm-builtin {
    color: #d33682; }
  .cm-s-solarized .cm-bracket {
    color: #cb4b16; }
  .cm-s-solarized .CodeMirror-matchingbracket {
    color: #859900 !important;
    border-bottom-style: solid;
    border-bottom-width: 2px; }
  .cm-s-solarized .CodeMirror-nonmatchingbracket {
    color: #dc322f !important;
    border-bottom-style: solid;
    border-bottom-width: 2px; }
  .cm-s-solarized .cm-tag {
    color: #93a1a1; }
  .cm-s-solarized .cm-attribute {
    color: #2aa198; }
  .cm-s-solarized .cm-header {
    color: #586e75; }
  .cm-s-solarized .cm-quote {
    color: #93a1a1; }
  .cm-s-solarized .cm-hr {
    color: transparent;
    border-top: 1px solid #586e75;
    display: block; }
  .cm-s-solarized .cm-link {
    color: #93a1a1;
    cursor: pointer; }
  .cm-s-solarized .cm-special {
    color: #6c71c4; }
  .cm-s-solarized .cm-em {
    color: #999;
    text-decoration: underline;
    text-decoration-style: dotted; }
  .cm-s-solarized .cm-strong {
    color: #eee; }
  .cm-s-solarized .cm-tab:before {
    color: #586e75; }
  .cm-s-solarized .cm-matchhighlight {
    border-bottom-style: solid;
    border-bottom-width: 2px; }
  .cm-s-solarized .CodeMirror-gutters {
    background-color: #073642;
    border-right-color: transparent; }
  .cm-s-solarized a {
    color: #268bd2; }
  .cm-s-solarized.cm-s-dark {
    color: #839496;
    background-color: #15414c; }
    .cm-s-solarized.cm-s-dark .cm-matchhighlight {
      border-bottom-color: #073642; }
    .cm-s-solarized.cm-s-dark .CodeMirror-gutters {
      background-color: #073642; }
    .cm-s-solarized.cm-s-dark .CodeMirror-gutter-filler {
      background-color: #002b36; }
    .cm-s-solarized.cm-s-dark .CodeMirror-selected, .cm-s-solarized.cm-s-dark .cm-searching {
      background: rgba(255, 255, 255, 0.1); }
    .cm-s-solarized.cm-s-dark .CodeMirror-activeline-background {
      background-color: #073642; }
    .cm-s-solarized.cm-s-dark .CodeMirror-scrollbar-filler {
      background-color: #002b36; }
  .cm-s-solarized.cm-s-light {
    background-color: #f5f5f5f;
    color: #657b83; }
    .cm-s-solarized.cm-s-light .cm-matchhighlight {
      border-bottom-color: #eee8d5; }
    .cm-s-solarized.cm-s-light .CodeMirror-gutters {
      background-color: #eee8d5; }
    .cm-s-solarized.cm-s-light .CodeMirror-gutter-filler {
      background-color: #fdf6e3; }
    .cm-s-solarized.cm-s-light .CodeMirror-selected, .cm-s-solarized.cm-s-light .cm-searching {
      background: rgba(0, 0, 0, 0.1); }
    .cm-s-solarized.cm-s-light .CodeMirror-activeline-background {
      background-color: #eee8d5; }
    .cm-s-solarized.cm-s-light .CodeMirror-scrollbar-filler {
      background-color: #fdf6e3; }
  .cm-s-solarized .CodeMirror-gutters {
    padding: 0 15px 0 10px; }
  .cm-s-solarized .CodeMirror-linenumber {
    color: #657b83; }
  .cm-s-solarized .CodeMirror-gutter .CodeMirror-gutter-text {
    color: #586e75; }
  .cm-s-solarized .CodeMirror-lines .CodeMirror-cursor {
    border-left: 1px solid #586e75; }
  .cm-s-solarized.CodeMirror {
    box-shadow: none; }
  .cm-s-solarized.cm-s-dark .CodeMirror-hints {
    background-color: #073642; }
  .cm-s-solarized.cm-s-dark .CodeMirror-widget, .cm-s-solarized.cm-s-dark .CodeMirror-hint-active {
    color: inherit;
    background-color: #073642; }
  .cm-s-solarized.cm-s-dark .CodeMirror-dialog {
    background-color: #073642;
    color: #586e75; }
  .cm-s-solarized.cm-s-dark .CodeMirror-simplescroll-vertical, .cm-s-solarized.cm-s-dark .CodeMirror-hints {
    background: #002b36; }
  .cm-s-solarized.cm-s-dark .CodeMirror-simplescroll-vertical div, .cm-s-solarized.cm-s-dark .CodeMirror-hints div {
    background: #073642;
    box-shadow: inset -1px -1px 5px 1px rgba(0, 0, 0, 0.75); }
  .cm-s-solarized.cm-s-light .CodeMirror-hints {
    background-color: #eee8d5; }
  .cm-s-solarized.cm-s-light .CodeMirror-widget, .cm-s-solarized.cm-s-light .CodeMirror-hint-active {
    color: inherit;
    background-color: #eee8d5; }
  .cm-s-solarized.cm-s-light .CodeMirror-dialog {
    background-color: #eee8d5;
    color: #93a1a1; }
  .cm-s-solarized.cm-s-light .CodeMirror-simplescroll-vertical, .cm-s-solarized.cm-s-light .CodeMirror-hints {
    background: #fdf6e3; }
  .cm-s-solarized.cm-s-light .CodeMirror-simplescroll-vertical div, .cm-s-solarized.cm-s-light .CodeMirror-hints div {
    background: #eee8d5;
    box-shadow: inset -1px -1px 5px 1px grey; }

.CodeMirror {
  height: 100%; }

.CodeMirror-scroll {
  height: 100%;
  overflow: auto; }

body.mac kbd.pc, body.pc kbd.mac {
  display: none; }

.CodeMirror {
  background: transparent;
  font-size: 13px;
  font-family: monospace; }
  .CodeMirror pre {
    -webkit-font-variant-ligatures: contextual;
    font-variant-ligatures: contextual; }

.CodeMirror-code > pre {
  font-size: 0;
  font-size: 13px; }

.CodeMirror-lines {
  padding: 24px; }
  .CodeMirror-lines .cm-tab {
    visibility: hidden; }

.CodeMirror-linenumber {
  margin-left: -24px; }

.CodeMirror-linewidget .line, .CodeMirror-linewidget .compilation-info, .CodeMirror-linewidget .runtime-error {
  margin-left: -28px;
  width: calc(100% +  28px);
  padding: 10px;
  padding-left: 30px;
  white-space: pre-wrap; }

.CodeMirror-widget .fold {
  margin-left: -28px;
  width: calc(100% +  28px);
  padding: 24px;
  white-space: pre-wrap; }

.CodeMirror-linewidget .line p, .CodeMirror-linewidget .compilation-info p, .CodeMirror-linewidget .runtime-error p {
  display: inline-block; }

.CodeMirror-widget .fold p {
  display: inline-block; }

.CodeMirror-linewidget .line p, .CodeMirror-linewidget .compilation-info p, .CodeMirror-linewidget .runtime-error p {
  padding: 0;
  margin: 0; }

.CodeMirror-widget .fold p {
  padding: 0;
  margin: 0; }

.CodeMirror-linewidget .line pre, .CodeMirror-linewidget .compilation-info pre, .CodeMirror-linewidget .runtime-error pre {
  padding: 0;
  margin: 0; }

.CodeMirror-widget .fold pre {
  padding: 0;
  margin: 0; }

.CodeMirror-linewidget .line h1, .CodeMirror-linewidget .compilation-info h1, .CodeMirror-linewidget .runtime-error h1 {
  padding: 0;
  margin: 0; }

.CodeMirror-widget .fold h1 {
  padding: 0;
  margin: 0; }

.CodeMirror-linewidget .line h2, .CodeMirror-linewidget .compilation-info h2, .CodeMirror-linewidget .runtime-error h2 {
  padding: 0;
  margin: 0; }

.CodeMirror-widget .fold h2 {
  padding: 0;
  margin: 0; }

.CodeMirror-linewidget .line h3, .CodeMirror-linewidget .compilation-info h3, .CodeMirror-linewidget .runtime-error h3 {
  padding: 0;
  margin: 0; }

.CodeMirror-widget .fold h3 {
  padding: 0;
  margin: 0; }

.CodeMirror-linewidget .line h4, .CodeMirror-linewidget .compilation-info h4, .CodeMirror-linewidget .runtime-error h4 {
  padding: 0;
  margin: 0; }

.CodeMirror-widget .fold h4 {
  padding: 0;
  margin: 0; }

.CodeMirror-linewidget .line h5, .CodeMirror-linewidget .compilation-info h5, .CodeMirror-linewidget .runtime-error h5 {
  padding: 0;
  margin: 0; }

.CodeMirror-widget .fold h5 {
  padding: 0;
  margin: 0; }

.CodeMirror-linewidget .line h6, .CodeMirror-linewidget .compilation-info h6, .CodeMirror-linewidget .runtime-error h6 {
  padding: 0;
  margin: 0; }

.CodeMirror-widget .fold h6 {
  padding: 0;
  margin: 0; }

.CodeMirror-linewidget .line ul, .CodeMirror-linewidget .compilation-info ul, .CodeMirror-linewidget .runtime-error ul {
  margin: 0; }

.CodeMirror-widget .fold ul {
  margin: 0; }

.CodeMirror-linewidget .line ol, .CodeMirror-linewidget .compilation-info ol, .CodeMirror-linewidget .runtime-error ol {
  margin: 0; }

.CodeMirror-widget .fold ol {
  margin: 0; }

.CodeMirror-linewidget .line .short, .CodeMirror-linewidget .compilation-info .short, .CodeMirror-linewidget .runtime-error .short {
  padding: 1px 5px 1px 5px; }

.CodeMirror-widget .fold .short {
  padding: 1px 5px 1px 5px; }

.CodeMirror-linewidget .line .block, .CodeMirror-linewidget .compilation-info .block, .CodeMirror-linewidget .runtime-error .block {
  display: block; }

.CodeMirror-widget .fold .block {
  display: block; }

.CodeMirror-linewidget .line pre, .CodeMirror-linewidget .compilation-info pre, .CodeMirror-linewidget .runtime-error pre {
  padding: 10px 0px 10px 12px;
  display: inline-block; }

.CodeMirror-widget .fold pre {
  padding: 10px 0px 10px 12px;
  display: inline-block; }

.CodeMirror .CodeMirror-code > pre > span, .CodeMirror .CodeMirror-code > div > pre > span {
  font-weight: normal; }

.CodeMirror .CodeMirror-linewidget pre {
  font-weight: normal; }

.CodeMirror .CodeMirror-code > pre > span > *, .CodeMirror .CodeMirror-code > div > pre > span > * {
  font-weight: normal; }

.CodeMirror .CodeMirror-linewidget {
  overflow: visible !important; }
  .CodeMirror .CodeMirror-linewidget pre > * {
    font-weight: normal; }
  .CodeMirror .CodeMirror-linewidget .runtime-error i, .CodeMirror .CodeMirror-linewidget .compilation-info.error i {
    color: red; }
  .CodeMirror .CodeMirror-linewidget .runtime-error.warning i, .CodeMirror .CodeMirror-linewidget .compilation-info.warning i {
    color: yellow; }
  .CodeMirror .CodeMirror-linewidget .runtime-error pre, .CodeMirror .CodeMirror-linewidget .compilation-info pre {
    padding-top: 0; }
  .CodeMirror .CodeMirror-linewidget .runtime-error i, .CodeMirror .CodeMirror-linewidget .compilation-info i, .CodeMirror .CodeMirror-linewidget .runtime-error pre, .CodeMirror .CodeMirror-linewidget .compilation-info pre {
    display: inline-block; }
  .CodeMirror .CodeMirror-linewidget .runtime-error i, .CodeMirror .CodeMirror-linewidget .compilation-info i {
    vertical-align: top;
    font-size: 20px; }
  .CodeMirror .CodeMirror-linewidget .inline {
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    margin-left: 20px;
    padding-left: 5px; }
  .CodeMirror .CodeMirror-linewidget i {
    margin-left: 16px;
    margin-right: 6px;
    font-size: 12px; }

.CodeMirror-hints {
  max-height: 400px;
  border: none; }
  .CodeMirror-hints .autocomplete {
    display: table-row;
    max-width: none;
    resize: none; }
    .CodeMirror-hints .autocomplete .name {
      display: table-cell; }
    .CodeMirror-hints .autocomplete .signature {
      padding-left: 5px;
      display: table-cell; }

.CodeMirror-dialog.CodeMirror-dialog-top {
  border: none;
  margin-left: 56px;
  line-height: 21px;
  padding-left: 2px;
  padding-right: 0; }
  .CodeMirror-dialog.CodeMirror-dialog-top span {
    display: none; }
  .CodeMirror-dialog.CodeMirror-dialog-top input {
    font-size: 18px;
    padding: 0;
    width: calc(100% -  150px) !important; }

body {
  margin: 0;
  overflow: hidden; }

html, body, #code {
  height: 100%; }

kbd {
  padding: .1em .6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: monospace;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  border-radius: 3px;
  display: inline-block;
  margin: 0 .1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap; }

.CodeMirror-simplescroll-vertical div {
  width: 20px; }

.CodeMirror-simplescroll-vertical div, iframe {
  border: none; }

noscript {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }
