@import '_solarized.less';

.cm-s-solarized {
  .solarized-pallette;
  
  &.CodeMirror {
    box-shadow: none;
  }

  &.cm-s-dark {
    .CodeMirror-hints {
      background-color: @base02;
    }

    .CodeMirror-widget,
    .CodeMirror-hint-active {
      color: inherit;
      background-color: @base02;
    }

    .CodeMirror-dialog {
      background-color: @base02;
      color: @base01;
    }

    .CodeMirror-simplescroll-horizontal,
    .CodeMirror-simplescroll-vertical,
    .CodeMirror-hints {
      & {
        background: @base03;
      }

      div {
        background: @base02;
        box-shadow: inset -1px -1px 5px 1px rgba(0, 0, 0, 0.75);
      }
    }
  }

  &.cm-s-light {
    .CodeMirror-hints {
      background-color: @base2;
    }

    .CodeMirror-widget,
    .CodeMirror-hint-active {
      color: inherit;
      background-color: @base2;
    }

    .CodeMirror-dialog {
      background-color: @base2;
      color: @base1;
    }

    .CodeMirror-simplescroll-horizontal,
    .CodeMirror-simplescroll-vertical,
    .CodeMirror-hints {
      & {
        background: @base3;
      }

      div {
        background: @base2;
        box-shadow: inset -1px -1px 5px 1px grey;
      }
    }
  }
}
