$background-color: #15414c;
$text-color: #5d7c83;
$link-color: #fff;
// Top Bar
$topbar-background: #002b36;
$selected-dropdown-background: #073642;
$hover-dropdown-color: #ffffff;


// Drop Down
$submenu-border-color: rgba(255,255,255,0.05);
$submenu-text-color: #fffffff;
$hover-submenu-dropdown-color: #859900;
$submenu-background-color: #7dc8e5;

// Sidebar
$sidebar-background: #073642;
$selected-option-background: #859900;
$hover-option-color: #859900;
$selected-option-color: #ffffff;
$option-color: #ffffff;
$worksheet-enabled: #859900;

// Console
$console-text-color: #ffffff;
$console-border-color: #073642;
$console-background: #002b36;
$hidden-console-background: #002b36;
$switcher-show-color: $console-text-color;

// Snippets
$snippets-background: #15414c;
$snippets-text-color: #fff;
$snippets-update-color: #859900;
$snippets-line-color: #859900;
$snippet-background-color: #073642;
$title-line-color: rgba(255, 255, 255, 0.12);

// Settings
$input-background-color: #073642;
$selected-radio-color: #859900;
$input-color: #fff;
$search-link-color: #859900;