$background-color: #f5f5f5;
$text-color: #002b36;
$link-color: #fff;

  // Top Bar
$topbar-background: #002b36;
$selected-dropdown-background: #00acdb;
$hover-dropdown-color: #ffffff;

// Drop Down
$submenu-border-color: rgba(15, 38, 47, 0.15);
$submenu-text-color: #0f262f;
$hover-submenu-dropdown-color: $hover-dropdown-color;
$submenu-background-color: #7dc8e5;

// Sidebar
$sidebar-background: #7dc8e5;
$selected-option-background: #00acdb;
$selected-option-color: #ffffff;
$hover-option-color: #ffffff;
$option-color: #0f262f;
$worksheet-enabled: #859900;

// Console
$console-text-color: #002b36;
$console-border-color: #073642;
$console-background: #f5f5f5;
$hidden-console-background: #002b36;
$switcher-show-color: #ffffff;

// Snippets
$snippets-background: #dfdfdf;
$snippets-text-color: #0f262f;
$snippets-update-color: #4e99c9;
$snippets-line-color: #5390bf;
$snippet-background-color: #f0efef;
$title-line-color: rgba(0, 43, 54, 0.12);

// Settings
$input-background-color: #f4f3f3;
$selected-radio-color: #4e99c9;
$input-color: #0f262f;
$search-link-color: #4e99c9;