@import "reset";
@import "sidebar";
@import "sidebar-theme";
@import "snippet";
@import "topbar";
@import "editor";
@import "modal";
@import "build-settings";
@import "build-settings-theme";
@import "solarized";
@import "commonvars";
@import "../../../../../target/web/web-modules/main/webjars/lib/bourbon/app/assets/stylesheets/_bourbon";
@import "../../../../../target/web/web-modules/main/webjars/lib/neat/app/assets/stylesheets/_neat";

body, .root, .app {
  height: 100%;
}

body {
  font-family: $font-family;
  font-size: $text-size;
  line-height: $text-line-height;
  overflow: hidden;  
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 150%;
}

.hide {
  display: none;
}

.fa {
  font-size: 16px;
  width: 20px;
  text-align: left;
}

.fa-spin {
  font-size: 16px;
  width: 16px;
}

.main-panel {
  display: inline-block;
  width: calc(100% - #{$sidebar-width});
}

.inner-container {
  overflow-y: auto;
}

.btn {
  cursor: pointer;
}

@include sidebar();
@include buildSettings();
@include solarized();

@mixin styles($class) {
  body {
    .app.#{$class} {

      color: $text-color;
      background: $background-color;

      a {
        color: $link-color;
      }

      .btn {
        cursor: pointer;
        &:hover {
          color: $hover-option-color;
        }
      }

      @include sidebarTheme($class);
      @include modal($class);
      @include topbar($class);
      @include editor($class);
      @include snippet($class);
      @include buildSettingsTheme($class);
    }
  }
}