@import "reset";
@import "sidebar";
@import "sidebar-theme";
@import "snippet";
@import "snippet-theme";
@import "topbar";
@import "topbar-theme";
@import "editor";
@import "editor-theme";
@import "modal";
@import "build-settings";
@import "build-settings-theme";
@import "solarized";
@import "commonvars";
@import "../../../../../target/web/web-modules/main/webjars/lib/bourbon/app/assets/stylesheets/_bourbon";
@import "../../../../../target/web/web-modules/main/webjars/lib/neat/app/assets/stylesheets/_neat";

body {
  font-family: $font-family;
  font-size: $text-size;
  line-height: $text-line-height;
  overflow: hidden;  
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 150%;
}

.hide {
  display: none;
}

.fa {
  font-size: 16px;
  width: 20px;
  text-align: left;
}

.fa-spin {
  font-size: 16px;
  width: 16px;
}

.inner-container {
  overflow-y: auto;
}

.btn {
  cursor: pointer;
}

.debug {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999;
  background-color: red;
  color: white;
}

@include sidebar();
@include editor();
@include snippet();
@include buildSettings();
@include solarized();
@include modal();
@include topbar();

@mixin styles($class) {
  body {
    .app.#{$class} {

      color: $text-color;
      background: $background-color;

      a {
        color: $link-color;
      }

      .btn {
        cursor: pointer;
        &:hover {
          color: $hover-option-color;
        }
      }

      @include topbarTheme($class);
      @include sidebarTheme($class);
      @include editorTheme($class);
      @include snippetTheme($class);
      @include buildSettingsTheme($class);
    }
  }
}