@import "commonvars";

@mixin topbarTheme($class) {
  .topbar {
    line-height: $header-height;
    background: $topbar-background;

    .logo {
      color: $link-color;
      background: $topbar-background;
    }

    ul.actions {
      color: $hover-dropdown-color;

      li.dropdown {
        color: $hover-dropdown-color;
        &.selected,
        &:hover {
          background-color: $selected-dropdown-background;
          color: $hover-dropdown-color;
        }

        ul.subactions .btn {
          color: $submenu-text-color;
          background: $sidebar-background;
          border-bottom-color: $submenu-border-color;

          &:hover {
            background-color: $selected-dropdown-background;
            color: $hover-submenu-dropdown-color;
          }
        }
      }
    }
  }
}
