<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">

    <link href="/assets/lib/codemirror/addon/dialog/dialog.css"           rel="stylesheet">
    <link href="/assets/lib/codemirror/addon/fold/foldgutter.css"         rel="stylesheet">
    <link href="/assets/lib/codemirror/addon/hint/show-hint.css"          rel="stylesheet">
    <link href="/assets/lib/codemirror/addon/scroll/simplescrollbars.css" rel="stylesheet">
    <link href="/assets/lib/codemirror/lib/codemirror.css"                rel="stylesheet">
    <link href="/assets/lib/codemirror/theme/mdn-like.css"                rel="stylesheet">
    <link href="/assets/lib/client/main.css"                              rel="stylesheet">
  </head>
  <body>
    <script src="/assets/client-jsdeps.js"></script>
    <script src="/assets/client-fastopt.js"></script>
    <script>
      client.Client().main()
    </script>
  </body>
</html>