@(title: String, includeLinkJs: Boolean = false, highlight: Boolean = false)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href=" @routes.Assets.at("stylesheets/main.css") ">
    <link rel="stylesheet" media="screen" href=" @routes.Assets.at("stylesheets/style.css") ">
    <link rel="shortcut icon" type="image/png" href=" @routes.Assets.at("images/favicon.png") ">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js" type="text/javascript"></script>
    <link href="http://agorbatchev.typepad.com/pub/sh/3_0_83/styles/shThemeDefault.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="content">
    @content
    </div>
  </body>
  @if(includeLinkJs) {
    <script src=" @routes.Assets.at("javascripts/jquery.scrollTo.min.js") " type="text/javascript"></script>
    <script src=" @routes.Assets.at("javascripts/linked.js") " type="text/javascript"></script>
    <script src="http://agorbatchev.typepad.com/pub/sh/3_0_83/scripts/shCore.js" type="text/javascript"></script>
    <script src="http://agorbatchev.typepad.com/pub/sh/3_0_83/scripts/shBrushScala.js" type="text/javascript"></script>
  }
  @if(highlight) {
    <script type="text/javascript">
      SyntaxHighlighter.all()
    </script>
  }
</html>
