@(content: Either[Html, String], output: String, highlights: Seq[Int], id: Long)(implicit request: RequestHeader)

@main(s"scastie #$id", includeLinkJs = true, highlight = true) {
  <div class="toolbar">
  @helper.form(action = routes.Pastes.edit()) {
    <input type="hidden" name="paste" id="paste"/>
    <input type="hidden" name="id" id="id" value="@id"/>
    <input type="submit" value="Clone"/>
  }
  @helper.form(action = routes.Pastes.delete(id)) {
    <input type="submit" value="Delete"/>
  }
  </div>
  <br/>
  @content.fold(
    html => html,
    string =>
      <pre class={"brush: scala; toolbar: false; tab-size: 2; highlight: [" + highlights.mkString(",") + "]"}>{string}</pre>
  )
  <pre id="output">
  @output
  </pre>
  <div id="reload-nag"></div>
  <script type="text/javascript" charset="utf-8">
    $(function() {
    $("#paste").val($("td.code").text() || $("pre:first").text())
    var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
    new WS(" @routes.Pastes.progress(id).webSocketURL() ").onmessage = function(event) {
      var data = JSON.parse(event.data)
      if (data.contentChanged) {
        $("#reload-nag").text("Reload to see highlights")
        $("#reload-nag").click(function(){window.location.reload()})
      }
      $("#output").text($("#output").text() + "\n" + data.output)
    }
    })
  </script>
}

