name: Build Status

on:
  pull_request:
  push:

env:
  MUNIT_FLAKY_OK: true

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Start mongodb
      uses: supercharge/mongodb-github-action@1.12.1

    - uses: cachix/install-nix-action@v24
      with:
        nix_path: nixpkgs=channel:nixos-23.11
    - uses: VirtusLab/scala-cli-setup@main
      with:
        jvm: temurin:17
        apps: sbt bloop
    - name: Run tests
      run: |
        nix-shell --command "yarn install && sbt -DSnippetsContainerTest.mongo=true cachedCiTest"
